.popup__input {
    margin: 75px auto 45px;
    width: 238px;
    height: calc(27px + 30px + 27px);
}

@media screen and (min-width: 1280px) {
    .popup__input {
        margin-top: 54px;
        margin-bottom: 48px;
        width: 358px;
    }
}