.popup__input {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 75px auto 45px;
    width: 238px;
    height: calc(27px + 30px + 27px);
}

@media screen and (min-width: 1280px) {
    .popup__input {
        margin-top: 54px;
        margin-bottom: 48px;
        width: 358px;
    }
}