.profile__container {
    width: 282px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 14px;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .profile__container {
        width: 336px;
        margin-bottom: 16px;
    }
}