.elements__caption {
    border: 1px red solid;
    background-color: #ffffff;
    width: 282px;
    height: calc(100% - 282px);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 21px;
}